<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%= room.name %> (<%= room.id%>)
	</title>
	<link rel="icon" href="/assets/img/icon.webp">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>

<body>
	<header>
		<div class="container-md h-100">
			<nav class="navbar navbar-dark h-100">
				<div class="container-fluid h-100 d-flex justify-content-between align-items-center">
					<div class="d-flex align-items-center">
						<a href="#" class="navbar-brand d-inline-block">
							<%= room.name %>
						</a>

						<button class="btn p-0 m-0" type="button"
							onclick="new bootstrap.Modal(document.getElementById('copyLink')).show()"><i
								class="bi bi-share text-white"></i></button>
					</div>

					<button class="btn" type="button" 
							onclick="new bootstrap.Modal(document.getElementById('modal')).show()">
							<i class="bi bi-search text-white"></i>
					</button>

					<div class="user text-white align-items-center d-flex">
						<div class="fs-4">
							<span id="user"><%= user.user %></span> <i class="bi bi-person-circle"></i>
						</div>
						<div class="dropdown ms-2">
							<a class="dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink"
								data-bs-toggle="dropdown" aria-expanded="false">

							</a>

							<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
								<li><a href="/room?exit=1" class="dropdown-item">Salir de la sala</a></li>
								<li><a class="dropdown-item" href="/?delete=1">Cerrar sesion</a></li>
							</ul>
						</div>
					</div>

					<div class="offcanvas offcanvas-start bg-dark text-white" id="offcanvasMobile" tabindex="-1"
						aria-labelledby="ocTitle">
						<div class="offcanvas-header">

							<h5 class="offcanvas-title" id="ocTitle">
								Sala: <%= room.name %>
							</h5>
							<button class="btn-close btn-close-white" type="button" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
						</div>

						<div class="offcanvas-body">
								<%= user.user %>
							</h5>
							<ul class="navbar-nav justify-content-end">
								<li class="nav-item"><a href="/room?exit=1" class="nav-link">Salir de la sala</a></li>
								<li class="nav-item"><a href="/?delete=1" class="nav-link">Salir de la cuenta</a></li>
							</ul>
						</div>

					</div>
				</div>
			</nav>
		</div>
	</header>

	<main class="d-flex overflow-hidden">
		<div class="container-fluid flex-fill d-flex flex-column py-2">

			<div class="controls rounded d-flex gap-2">
				<div class="col-xs-12 col-md-8 col-lg-9 justify-content-center d-flex flex-wrap">
					<div class="frame">
						<div class="w-100 ratio ratio-16x9 border border-secondary rounded-top bg-dark p-1" id="video_player">

						</div>
						<!-- <iframe 
							src="https://www.youtube.com/embed/KLuTLF3x9sA?si=wAqe4xir8sxReFvi" 
							id="video_player" 
							class="w-100 ratio ratio-16x9 border border-secondary rounded-top bg-dark p-1"
							autoplay
							muted
						>
						</iframe> -->

						<div class="w-100 text-black rounded-2 d-flex flex-column gap-2 align-items-center">
							<div class="d-flex justify-content-between w-100 border-bottom border-dark">
								<div class="btn-group">
									<button class="btn rounded-0" type="button" id="btn-resume"><i class="bi bi-play"></i></button>
									<button class="btn rounded-0" type="button" id="btn-pause"><i class="bi bi-pause"></i></button>
									<button class="btn rounded-0" type="button" id="btn-previous"><i
											class="bi bi-skip-backward"></i></button>
									<button class="btn rounded-0" type="button" id="btn-next"><i
											class="bi bi-skip-forward"></i></button>
									<div class="dropdown dropup">
										<button class="btn rounded-0 dropdown-toggle" type="button" data-bs-toggle="dropdown"
											aria-expanded="false" data-bs-auto-close="outside">
											<i class="bi bi-volume-up"></i>
										</button>
	
										<input type="range" id="volume" class="dropdown-menu form-range" value="1" min="0" max="1" step="0.1">
									</div>
								</div>
	
								<div class="time d-lg-flex">
									<span class="me-2" id="current-time">0:00</span>
									<input type="range" min="0" max="230" class="form-range" id="time-range">
									<span class="ms-2" id="max-time">0:00</span>
								</div>
	
								<div class="btn-group">
									<button class="btn rounded-0" id="btn-pip" disabled><i class="bi bi-pip"></i></button>
									<button class="btn rounded-0" id="btn-fs" disabled><i class="bi bi-fullscreen"></i></button>
								</div>
							</div>


							<div class="d-flex w-100 px-4" style="width: 80%;">
								<span class="me-2" id="current-time2">0:00</span>
								<input type="range" min="0" max="230" class="form-range" id="time-range2">
								<span class="ms-2" id="max-time2">0:00</span>
							</div>
		
							<p id="title" class="fs-3">No se esta reproduciendo nada</p>
						</div>
					</div>
				</div>

				<div class="d-sm-none d-md-block w-100 p-2" id="chat_container">
					<div class="d-flex align-items-center justify-content-between">
						<h5 class="display 6 fs-6">Chat de la sala</h5>

						<div class="align-items-center">
							<button type="button" class="btn" id="btnHistory"><i class="bi bi-clock-history text-white"></i></button>
							<button type="button" class="btn"
								onclick="new bootstrap.Modal(document.getElementById('users')).show()"><i
									class="bi bi-person-fill"></i> <span id="usersOnline" class="text-success">
									<%= room.users %>
								</span></button>
						</div>
					</div>
					<div class="border border-light rounded-2 d-flex flex-wrap align-content-end p-2 overflow-hidden" id="messages"
						style="height: 75vh;">
						<!-- <div class="userJoin text-secondary w-100">
                            <span class="join">elii_sk</span> entro a la sala
                        </div>

                        <div class="userJoin text-secondary w-100">
                            <span class="leave">elii_sk</span> salio de la sala
                        </div>

                        <div class="message text-white w-100">
                            <span class="username" id="username">Eliisk</span>: Hola a todos buen dia
                        </div> -->
					</div>
					<div class="input-group">
						<input type="text" placeholder="Ingresa tu mensaje" class="form-control" id="input-msg">
						<button class="btn btn-primary" type="button" id="btn-send_1"><i class="bi bi-send"></i></button>
					</div>
				</div>
			</div>

			<div class="d-block d-md-none mt-2 flex-fill rounded controls overflow-hidden" id="chat_mobile">
				<div class="d-flex flex-column h-100">
					<div class="d-flex align-items-center px-2 justify-content-between border-bottom border-dark">
						<h5 class="display 6 fs-6 h-100 d-flex align-items-center mb-0">Chat de la sala</h5>

						<div class="align-items-center">
							<button type="button" class="btn px-2 py-1" id="btnHistory2"><i class="bi bi-clock-history"></i></button>
							<button type="button" class="btn px-2 py-1"
								onclick="new bootstrap.Modal(document.getElementById('users')).show()"><i
									class="bi bi-person-fill"></i> <span id="usersOnlineMobile" class="text-success">
									<%= room.users %>
								</span></button>
						</div>
					</div>
					<div 
						class="border border-light rounded-2 d-flex flex-fill flex-wrap align-content-end h-100 overflow-hidden" 
						id="messagesMobile"
					>

					</div>
					<div class="input-group">
						<input type="text" placeholder="Ingresa tu mensaje" class="form-control" id="input-msg_mobile">
						<button class="btn btn-primary" type="button" id="btn-send_2"><i class="bi bi-send"></i></button>
					</div>
				</div>
			</div>

		</div>
	</main>

	<div class="toast-container position-fixed bottom-0 end-0 p-3">
		<div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header bg-danger">
				<i class="bi bi-exclamation-triangle"></i>
				<strong class="me-auto"> Error al conectar con el servidor</strong>
				<button class="btn-close" type="button" data-bs-dismiss="toast" aria-label="Cerrar"></button>
			</div>

			<div class="toast-body">
				La pagina se recargara al conectar.
			</div>
		</div>
	</div>

	<div class="toast-container position-fixed bottom-0 end-0 p-3">
		<div id="youAreAdmin" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header bg-primary text-white">
				<i class="bi bi-star"></i>
				<strong class="me-auto"> Eres el nuevo administrador de la sala!</strong>
				<button class="btn-close" type="button" data-bs-dismiss="toast" aria-label="Cerrar"></button>
			</div>

			<div class="toast-body">
				Recarga la pagina para ver tus nuevas opciones!
			</div>
		</div>
	</div>

	<div class="modal" id="modal">
		<div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Buscar videos</h5>
					<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Cerrar"></button>
				</div>

				<div class="modal-body">
					<div class="input-group mb-3">
						<input type="search" id="search-q" class="form-control" placeholder="Ingresa el nombre del video o la URL">
						<button class="btn btn-primary" type="button" id="btn-search">
							<i class="bi bi-search"></i>
						</button>
					</div>

					<div class="d-flex flex-wrap justify-content-between text-center" id="results">
					</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="copyLink">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Comparte la sala!</h5>
					<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Cerrar"></button>
				</div>

				<div class="modal-body">
					<p id="url" class="btn-link"><span id="protocol">http://</span><span id="url_location"></span><span
							id="query">/room?id=<%= room.id %>&password=<%= room.pw %></span></p>
				</div>

				<div class="modal-footer">
					<button class="btn btn-primary" type="button" onclick="copyUrl('<%= room.id %>', '<%= room.pw %>')"><i
							class="bi bi-clipboard"></i> Copiar link</button>
					<button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="users">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header bg-primary text-white">
					<h5 class="modal-title">Usuarios en la sala</h5>
					<button class="btn btn-close btn-close-white" type="button" data-bs-toggle="modal" aria-label="Cerrar"></button>
				</div>

				<div class="modal-body">
					<table class="table table-hover table-responsive text-center">
						<thead class="table-info">
							<tr>
								<th scope="col">Nombre</th>
								<% if (user.admin) { %>
									<th scope="col">Acciones</th>
									<!-- <th scope="col">Expulsar</th>
									<th scope="col">Banear</th>
									<th scope="col">Transferir admin</th> -->
									<% } %>
							</tr>
						</thead>

						<tbody id="t-body">
							<!-- <tr>
                                <th scope="row">elii_sk</th>
                                <td><a class="text-warning" type="button"><i class="bi bi-eject"></i></a></td>
                                <td><a class="text-danger" type="button"><i class="bi bi-x"></i></a></td>
                                <td><a class="text-primary" type="button"><i class="bi bi-star"></i></a></td>
                            </tr> -->
						</tbody>
					</table>
				</div>

				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-bs-toggle="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="history">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Historial</h5>
					<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Cerrar"></button>
				</div>

				<div class="modal-body">
					<table class="table table-responsive table-hover">
						<thead class="table-info">
							<th scope="col">#</th>
							<th scope="col">Nombre</th>
						</thead>

						<tbody id="history-body">
							<!-- <tr class="table-video">
                                <th scope="row">1</th>
                                <td>Video 1</td>
                            </tr> -->
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="toast-container position-fixed bottom-0 end-0 p-3">
		<div id="noHistory" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header bg-danger text-white">
				<strong class="me-auto">La sala no tiene historial</strong>
				<button class="btn-close" type="button" data-bs-dismiss="toast" aria-label="Cerrar"></button>
			</div>

			<div class="toast-body">
				Usa la barra de busqueda para poner un video!
			</div>
		</div>

		<div id="downloadingVideo" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header bg-primary text-white">
				<strong class="me-auto">Se esta por reproducir el video</strong>
				<button class="btn-close" type="button" data-bs-dismiss="toast" aria-label="Cerrar"></button>
			</div>

			<div class="toast-body">
				Espera hasta que se reproduzca
			</div>
		</div>

		<div id="errorServer" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header bg-error text-white">
				<strong class="me-auto">Ocurrio un error por parte del servidor :(</strong>
				<button class="btn-close" type="button" data-bs-dismiss="toast" aria-label="Cerrar"></button>
			</div>
		</div>
	</div>


	<script src="/socket.io/socket.io.js"></script>
	<script src="/assets/js/initPlayer.js"></script>
	<!-- <script defer type="module" src="/assets/js/script.js"></script>
	<script defer type="module" src="/assets/js/socketScript.js"></script>
	<script defer type="module" src="/assets/js/events.js"></script>
	<script defer type="module" src="/assets/js/player.js"></script>
	<script defer type="module" src="/assets/js/roomMsg.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>