<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= room.name %> (<%= room.id%>)</title>
    <link rel="icon" href="assets/img/icon.webp">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body class="bg-dark">

    <header class="bg-primary">
        <div class="container-md">
            <nav class="navbar navbar-dark">
                <div class="container-fluid d-flex justify-content-between align-items-center">
                    <div class="align-items-center">
                        <a href="#" class="navbar-brand d-none d-lg-inline-block">
                            <%= room.name %>
                        </a>
    
                        <button class="btn" type="button" onclick="new bootstrap.Modal(document.getElementById('copyLink')).show()"><i class="bi bi-share text-white"></i></button>
                    </div>  

                    <div class="search-bar justify-self-center d-flex align-items-center">
                        <input type="search" id="search-q" class="form-control" placeholder="Ingresa el nombre del video o la URL"> <button class="btn btn-dark ms-1" type="button" id="btn-search"><i class="bi bi-search"></i></button>
                    </div>

                    <button class="navbar-toggler d-block d-lg-none bg-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMobile" aria-controls="offcanvasMobile">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="user text-white align-items-center d-none d-lg-flex">
                        <div class="fs-4">
                            <span id="user"><%= user.user %></span> <i class="bi bi-person-circle"></i>
                        </div>
                        <div class="dropdown ms-2">
                            <a class="dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">

                            </a>
                          
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                              <li><a href="/room?exit=1" class="dropdown-item">Salir de la sala</a></li>
                              <li><a class="dropdown-item" href="/?delete=1">Cerrar sesion</a></li>
                            </ul>
                          </div>
                    </div>

                    <div class="offcanvas offcanvas-end bg-dark text-white" id="offcanvasMobile" tabindex="-1" aria-labelledby="ocTitle">
                        <div class="offcanvas-header">

                            <h5 class="offcanvas-title" id="ocTitle"><%= room.name %></h5>
                            <button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
                        </div>

                        <div class="offcanvas-body">
                            <h5><i class="bi bi-person"></i> <%= user.user %></h5>
                            <ul class="navbar-nav justify-content-end">
                                <li class="nav-item"><a href="/room?exit=1" class="nav-link">Salir de la sala</a></li>
                                <li class="nav-item"><a href="/?delete=1" class="nav-link">Salir de la cuenta</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </header>
    
    <main>
        <div class="container-fluid mt-4">

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-9 justify-content-center d-flex flex-wrap">
                    <div class="frame">
                        <video id="video_player" class="border border-secondary">
                            <!-- <audio id="audio_player"></audio> -->
                        </video>

                        <div class="controls mt-1 d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button class="btn scale" type="button" id="btn-resume"><i class="bi bi-play text-light"></i></button>
                                <button class="btn scale" type="button" id="btn-pause"><i class="bi bi-pause text-light"></i></button>
                                <button class="btn scale" type="button" id="btn-previous"><i class="bi bi-skip-backward text-light"></i></button>
                                <button class="btn scale" type="button" id="btn-next"><i class="bi bi-skip-forward text-light"></i></button>
                                <div class="dropdown dropup">
                                    <button class="btn scale dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                        <i class="bi bi-volume-up text-light"></i>
                                    </button>

                                    <input type="range" id="volume" class="dropdown-menu form-range" value="1" min="0" max="1" step="0.1">
                                </div>
                            </div>

                            <div class="time text-white d-lg-flex">
                                <span class="me-2" id="current-time">0:00</span>
                                <input type="range" min="0" max="230" class="form-range" id="time-range">
                                <span class="ms-2" id="max-time">0:00</span>
                            </div>
    
                            <div class="btn-group">
                                <button class="btn scale" id="btn-pip"><i class="bi bi-pip text-light"></i></button>
                                <button class="btn scale" id="btn-fs"><i class="bi bi-fullscreen text-light"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="text-white d-flex d-lg-none" style="width: 80%;">
                        <span class="me-2" id="current-time2">0:00</span>
                        <input type="range" min="0" max="230" class="form-range" id="time-range2">
                        <span class="ms-2" id="max-time2">0:00</span>
                    </div>
    
                    <p id="title" class="text-white fs-3">No se esta reproduciendo nada</p>
                </div>
    
                <div class="d-sm-none d-md-block col-md-3 col-lg-3" id="chat_container">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="display 6 fs-6 text-white">Chat de la sala</h5>

                        <div class="align-items-center">
                            <button type="button" class="btn" id="btnHistory"><i class="bi bi-clock-history text-white"></i></button>
                            <button type="button" class="btn" onclick="new bootstrap.Modal(document.getElementById('users')).show()"><i class="bi bi-person-fill text-white"></i> <span id="usersOnline" class="text-success"> <%= room.users %> </span></button>
                        </div>
                    </div>
                    <div class="border border-light rounded-2 d-flex flex-wrap align-content-end p-2" id="messages" style="height: 75vh;">
                        <!-- <div class="userJoin text-secondary w-100">
                            <span class="join">elii_sk</span> entro a la sala
                        </div>

                        <div class="userJoin text-secondary w-100">
                            <span class="leave">elii_sk</span> salio de la sala
                        </div>

                        <div class="message text-white w-100">
                            <span class="username" id="username">Eliisk</span>: Hola a todos buen dia
                        </div> -->
                    </div>
                    <div class="input-m mt-1">
                        <input type="text" placeholder="Ingresa tu mensaje" class="form-control" id="input-msg">
                        <button class="btn text-primary ms-1" type="button" id="btn-send_1"><i class="bi bi-send"></i></button>
                    </div>
                </div>
            </div>

            <div class="row d-block d-md-none mb-2" id="chat_mobile">
                <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="display 6 fs-6 text-white">Chat de la sala</h5>

                        <div class="align-items-center">
                            <button type="button" class="btn" id="btnHistory2"><i class="bi bi-clock-history text-white"></i></button>
                            <button type="button" class="btn" onclick="new bootstrap.Modal(document.getElementById('users')).show()"><i class="bi bi-person-fill text-white"></i> <span id="usersOnlineMobile" class="text-success"> <%= room.users %> </span></button>
                        </div>
                    </div>
                    <div class="border border-light rounded-2 d-flex flex-wrap align-content-end p-2" id="messagesMobile" style="height: 75vh;">

                    </div>
                    <div class="input-m mt-1">
                        <input type="text" placeholder="Ingresa tu mensaje" class="form-control" id="input-msg_mobile">
                        <button class="btn text-primary ms-1" type="button" id="btn-send_2"><i class="bi bi-send"></i></button>
                    </div>
                </div>
            </div>
        
        </div>
    </main>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-danger text-white">
                <i class="bi bi-exclamation-triangle"></i>
                <strong class="me-auto"> Error al conectar con el servidor</strong>
                <button class="btn-close" type="button" data-bs-dismiss="toast" aria-label="Cerrar"></button>
            </div>

            <div class="toast-body">
                La pagina se recargara al conectar.
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="youAreAdmin" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-primary text-white">
                <i class="bi bi-star"></i>
                <strong class="me-auto"> Eres el nuevo administrador de la sala!</strong>
                <button class="btn-close" type="button" data-bs-dismiss="toast" aria-label="Cerrar"></button>
            </div>

            <div class="toast-body">
                Recarga la pagina para ver tus nuevas opciones!
            </div>
        </div>
    </div>

    <div class="modal" id="modal">
        <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Resultados de la busqueda</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>

                <div class="modal-body d-flex flex-wrap justify-content-between text-center" id="results">

                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="copyLink">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Comparte la sala!</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>

                <div class="modal-body">
                    <p id="url" class="btn-link"><span id="protocol">http://</span><span id="url_location"></span><span id="query">/room?id=<%= room.id %>&password=<%= room.pw %></span></p>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" onclick="copyUrl('<%= room.id %>', '<%= room.pw %>')"><i class="bi bi-clipboard"></i> Copiar link</button>
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="users">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="bi bi-person-fill text-success"></i> Usuarios en la sala:</h5>
                    <button class="btn btn-close" type="button" data-bs-toggle="modal" aria-label="Cerrar"></button>
                </div>

                <div class="modal-body">
                    <table class="table table-hover table-responsive text-center">
                        <thead class="table-info">
                            <tr>
                                <th scope="col">Nombre</th>
                                <% if (user.admin) { %>
                                <th scope="col">Expulsar</th>
                                <th scope="col">Banear</th>
                                <th scope="col">Transferir admin</th>
                                <% } %>
                            </tr>
                        </thead>

                        <tbody id="t-body">
                            <!-- <tr>
                                <th scope="row">elii_sk</th>
                                <td><a class="text-warning" type="button"><i class="bi bi-eject"></i></a></td>
                                <td><a class="text-danger" type="button"><i class="bi bi-x"></i></a></td>
                                <td><a class="text-primary" type="button"><i class="bi bi-star"></i></a></td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-toggle="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="history">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Historial</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>

                <div class="modal-body">
                    <table class="table table-responsive table-hover">
                        <thead class="table-info">
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                        </thead>

                        <tbody id="history-body">
                            <!-- <tr class="table-video">
                                <th scope="row">1</th>
                                <td>Video 1</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="noHistory" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-danger text-white">
                <strong class="me-auto">La sala no tiene historial</strong>
                <button class="btn-close" type="button" data-bs-dismiss="toast" aria-label="Cerrar"></button>
            </div>

            <div class="toast-body">
                Usa la barra de busqueda para poner un video!
            </div>
        </div>

        <div id="downloadingVideo" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-primary text-white">
                <strong class="me-auto">Se esta por reproducir el video</strong>
                <button class="btn-close" type="button" data-bs-dismiss="toast" aria-label="Cerrar"></button>
            </div>

            <div class="toast-body">
                Espera hasta que se reproduzca
            </div>
        </div>

        <div id="errorServer" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-error text-white">
                <strong class="me-auto">Ocurrio un error por parte del servidor :(</strong>
                <button class="btn-close" type="button" data-bs-dismiss="toast" aria-label="Cerrar"></button>
            </div>
        </div>
    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="assets/js/script.js"></script>
    <script type="module" src="assets/js/socketScript.js"></script>
    <script type="module" src="assets/js/events.js"></script>
    <script type="module" src="assets/js/player.js"></script>
    <script type="module" src="assets/js/roomMsg.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>